.section-3 {
    order: 1;
    .step-32 {
        background: rgb(92,52,21);
        background: linear-gradient(0deg, rgba(92,52,21,1) 0%, rgba(227,109,5,1) 50%, rgba(92,52,21,1) 100%);
        right: 0px;
        bottom: 4px;
    }
    .step-33 {
        right: 5px;
        bottom: 81px;
    }
    .step-34 {
        background: rgb(0,144,12);
        background: radial-gradient(circle, rgba(0,144,12,1) 0%, rgba(255,255,255,1) 71%);
        right: 30px;
        bottom: 155px;
    }
    .step-35 {
        right: 70px;
        bottom: 224px;
    }
    .step-36 {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,144,12,1) 100%);
        top: 53px;
        left: 300px;
    }
    .step-37 {
        top: 34px;
        left: 222px;
    }
    .step-38 {
        background: rgb(92,52,21);
        background: linear-gradient(0deg, rgba(92,52,21,1) 0%, rgba(227,109,5,1) 50%, rgba(92,52,21,1) 100%);
        top: 40px;
        left: 142px;
    }
    .step-39 {
        top: 100px;
        left: 90px;
    }
    .step-40 {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,109,5,1) 100%);
        top: 169px;
        left: 50px;
    }
    .step-41 {
        left: 40px;
        bottom: 68px;
    }
    .step-42 {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(41,41,41,1) 100%);
        left: 79px;
        bottom: 0;
    }

}