.section-2 {
    order: 2;
    .step-5 {
        right: 31px;
        bottom: 0;
    }
    .step-6 {
        right: 52px;
        bottom: 76px;
    }
    .step-7 {
        background: rgb(0,144,12);
        background: radial-gradient(circle, rgba(0,144,12,1) 0%, rgba(255,255,255,1) 71%);
        right: 35px;
        bottom: 153px;
    }
    .step-8 {
        right: 7px;
        bottom: 226px;
    }
    .step-9 {
        top: 14px;
        right: 35px;
    }
    .step-10 {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(227,109,5,1) 100%);
        top: 0;
        right: 113px;
    }
    .step-11 {
        top: 6px;
        right: 195px;
    }
    .step-12 {
        background: rgb(255,255,255);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(41,41,41,1) 100%);
        top: 33px;
        right: 273px;
    }
    .step-13 {
        top: 83px;
        left: 106px;
    }
    .step-14 {
        top: 155px;
        left: 70px;
    }
    .step-15 {
        background: rgb(92,52,21);
        background: linear-gradient(0deg, rgba(92,52,21,1) 0%, rgba(227,109,5,1) 50%, rgba(92,52,21,1) 100%);
        top: 235px;
        left: 66px;
    }
    .step-16 {
        left: 78px;
        bottom: 0;
    }
}